#header-title {
  text-align: center;
  font-size: 36px;
}

#logo{
  text-align: center;
  padding: 10px;
}

h2{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
p{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

#synth-module {
  text-align: center;
  border: 1px solid black;
  width: 65%;
  margin: auto;
}

#wave-dropdown {
  margin-top: 3%
}

#wave-type {
  margin: 0 0 2% 0;
}

#keyboard {
/*  left: 20%;
  right: 20%;*/
  padding: 5%;
}

.adsr div {
  display: inline-block;
  margin: 1%;
}
