#header-title {
  text-align: center;
  font-size: 36px;
}

#synth-module {
  text-align: center;
  border: 1px solid black;
  width: 65%;
  margin: auto;
}

#wave-dropdown {
  margin-top: 3%
}

#wave-type {
  margin: 0 0 2% 0;
}

#keyboard {
/*  left: 20%;
  right: 20%;*/
  padding: 5%;
}

.adsr div {
  display: inline-block;
  margin: 1%;
}
